@import url('https://fonts.googleapis.com/css?family=Mandali&display=swap');

body {
    background-color: #fafafa;
    color: #232323;
}

.avatar {
    width: 150px;
    height: 150px;
}

.username-lg {
    font-family: 'Mandali', sans-serif;
    color: #232323;
    font-size: 50px;
}

.username-lg:hover {
    color: #353b41;
    text-decoration: none;
}

.description {
    font-family: 'Mandali', sans-serif;
    font-size: 19px;
}

.status {
    font-size: 19px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.social-media-icon {
    font-size: 40px;
    color: #232323;
}

.social-media-icon:hover {
    background-color: #ebebeb;
    text-decoration: none;
}

.cur-pointer {
    cursor: pointer;
}

.slide {
    margin-bottom: 30%;
}

.ff-mono {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.fs-35 {
    font-size: 35px;
}

.latest-link {
    font-size: 17px;
}